:root{
    font-size: 16px;
    font-family: 'Major Mono Display', monospace;
}
*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
header{
    text-align: center;
    /* font-size: xx-large; */
}
main{
    font-size: medium;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size:2rem;
}
section{
    margin: 25px 0;
}

.grid-row{
    display: flex;
}
.grid-square{
    /* display: inline-block; */
    border : 1px solid black;
    font-size: 64px;
    font-weight: 400;
}
.grid-square.X{
    padding:14px 28.656px;
}
.grid-square.O{
    padding:14px 25.1095px;
}
.unfilled{
    padding: 50px;
}
.none{
    display:none;
}